[Unit]
Description=Tile Service Panel
After=network-online.target
Wants=network-online.target


[Service]
User=root
Group=root
WorkingDirectory=/home/tiledb/apps/tile-systemd-web-server/
ExecStart=/home/tiledb/apps/tile-systemd-web-server/.pyenv/bin/python /home/tiledb/apps/tile-systemd-web-server/app.py
Restart=always
RestartSec=5

# Optional but recommended
Environment="PYTHONUNBUFFERED=1"
Environment="VIRTUAL_ENV=/home/tiledb/apps/tile-systemd-web-server/.pyenv"
Environment="PATH=/home/tiledb/apps/tile-systemd-web-server/.pyenv/bin:/usr/bin"
Environment="LD_LIBRARY_PATH=/usr/local/lib"

[Install]
WantedBy=multi-user.target
