[Unit]
Description=Tile Service Panel
After=network-online.target
Wants=network-online.target


[Service]
User=tiledb
Group=tiledb
WorkingDirectory=/home/tiledb/apps/tile-wjtag/tile_db_wjtag/
ExecStart=/home/tiledb/apps/tile-wjtag/.pyenv/bin/python /home/tiledb/apps/tile-wjtag/tile_db_wjtag/app.py
Restart=always
RestartSec=5

# Optional but recommended
Environment="PYTHONUNBUFFERED=1"
Environment="VIRTUAL_ENV=/home/tiledb/apps/tile-wjtag/.pyenv"
Environment="PATH=/home/tiledb/apps/tile-wjtag/.pyenv/bin:/usr/bin"
Environment="LD_LIBRARY_PATH=/usr/local/lib"

[Install]
WantedBy=multi-user.target
